/* @override 
	https://local.adoptdev.com/wp-content/themes/adopt-theme/css/ybd-sb-theme-styles.css?* */

@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Lato:400,700|Open+Sans:400,700&display=swap');

#ybd-sb-theme-header .btn-blue {
    color: #ffffff;
    background-color: #003D84;
    border-color: #003E85;
    text-decoration: none;
}

#ybd-sb-theme-header .btn-red {
    color: #fff;
    background-color: #c23b13;
}

#ybd-sb-theme-header .btn-green {
    color: #ffffff;
    background-color: #72AD00;
    border-color: #FFFFFF;
}

#ybd-sb-theme-header a.more-link {
    color: #fff;
    background-color: #7ea83f;
}

#ybd-sb-theme-header .yellow {
    background-color: #cc8304;
}

#ybd-sb-theme-header .blue,
#ybd-sb-theme-header .yellow {
    color: #fff;
    height: 100%;
}

body {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
    line-height: 1.428571429;
    color: #222;
    background-color: #fff;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: #111;
    font-family: "NonBreakingSpaceOverride", "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8;
    margin: 0; */
    text-rendering: optimizeLegibility;
}

#ybd-sb-theme-header a {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: #00337f;
    text-decoration: none;
    background-color: transparent;
}

#ybd-sb-theme-header .header-panel {
    background: #efefef;
}

#ybd-sb-theme-header .header-panel .header-panel-container {
    padding: 20px 0;
    overflow: auto;
}

#ybd-sb-theme-header .header-form-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}

#ybd-sb-theme-header button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    float: right;
    font-size: 27px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

#ybd-sb-theme-header .header-form-title i {
    color: #d28e00;
    font-size: 50px;
    float: left;
    width: 12%;
}

#ybd-sb-theme-header .header-form-title span {
    color: #00337f;
    font-size: 24px;
    font-family: Lato,sans-serif;
    line-height: 28px;
}

#ybd-sb-theme-header .header-panel .or-seperator,
#ybd-sb-theme-header .header-panel a,
#ybd-sb-theme-header .header-panel label,
#ybd-sb-theme-header .header-panel p {
    font-size: 14px;
}

#ybd-sb-theme-header div.gmw-form-wrapper,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper {
    background: transparent!important;
    padding: inherit!important;
    border: none!important;
    margin-bottom: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

#ybd-sb-theme-header div.gmw-form-wrapper .gmw-form,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form {
    padding: 5px 0;
}

#ybd-sb-theme-header div.gmw-form-wrapper .address-locator-wrapper,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-custom-field-wrapper,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-distance-select,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-keywords-field,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-posts-dropdown,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-single-taxonomy-wrapper,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-submit-wrapper,
#ybd-sb-theme-header div.gmw-form-wrapper .post-types-wrapper,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .address-locator-wrapper,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-custom-field-wrapper,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-distance-select,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-keywords-field,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-posts-dropdown,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-single-taxonomy-wrapper,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit-wrapper,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .post-types-wrapper {
    margin: 0!important;
}

#ybd-sb-theme-header .address-locator-wrapper,
#ybd-sb-theme-header .gmw-submit-wrapper {
    display: inline-block;
}

#ybd-sb-theme-header div.gmw-form-wrapper .gmw-distance-select,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-submit,
#ybd-sb-theme-header div.gmw-form-wrapper input[type=text],
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-distance-select,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper input[type=text] {
    max-width: 187px;
}

#ybd-sb-theme-header div.gmw-form-wrapper input[type=text],
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper input[type=text] {
    height: 39px!important;
    font-size: 18px!important;
    font-family: 'Archivo Narrow', sans-serif;
}

#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.form-row div.form-content>select,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive input[type=number],
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive input[type=password],
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive input[type=text],
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive select,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive textarea,
#ybd-sb-theme-header .form-control,
#ybd-sb-theme-header .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
#ybd-sb-theme-header .gform_wrapper select,
#ybd-sb-theme-header .gform_wrapper textarea,
#ybd-sb-theme-header .gform_wrapper textarea.medium,
#ybd-sb-theme-header .search-field,
#ybd-sb-theme-header .ufaq-text-input,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-distance-select,
#ybd-sb-theme-header div.gmw-form-wrapper input[type=text],
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-distance-select,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper input[type=text] {
    display: block;
    width: 100%;
    height: 39px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

#ybd-sb-theme-header .gmw-locator-btn-wrapper {
    display: none;
}

#ybd-sb-theme-header div.gmw-form-wrapper .gmw-distance-select,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-distance-select {
    min-width: 120px;
}

#ybd-sb-theme-header div.gmw-form-wrapper .gmw-distance-select,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-distance-select {
    max-width: 100px!important;
    font-family: 'Archivo Narrow', sans-serif;
}

#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .header-panel .header-panel-container a.step-button,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .header-panel .header-panel-container button.step-button,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .header-panel .header-panel-container input.step-button,
#ybd-sb-theme-header .gform_wrapper .gform_footer .header-panel .header-panel-container input.button,
#ybd-sb-theme-header .gform_wrapper .gform_footer .header-panel .header-panel-container input[type=submit],
#ybd-sb-theme-header .gform_wrapper .gform_page_footer .header-panel .header-panel-container input.button,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer .header-panel .header-panel-container input[type=submit],
#ybd-sb-theme-header .header-panel .header-panel-container .app_donation.app_id_9 .donation-form-container.responsive a.step-button,
#ybd-sb-theme-header .header-panel .header-panel-container .app_donation.app_id_9 .donation-form-container.responsive button.step-button,
#ybd-sb-theme-header .header-panel .header-panel-container .app_donation.app_id_9 .donation-form-container.responsive input.step-button,
#ybd-sb-theme-header .header-panel .header-panel-container .button,
#ybd-sb-theme-header .header-panel .header-panel-container .gform_wrapper .gform_footer input.button,
#ybd-sb-theme-header .header-panel .header-panel-container .gform_wrapper .gform_footer input[type=submit],
#ybd-sb-theme-header .header-panel .header-panel-container .gform_wrapper .gform_page_footer input.button,
#ybd-sb-theme-header .header-panel .header-panel-container .gform_wrapper .gform_page_footer input[type=submit],
#ybd-sb-theme-header .header-panel .header-panel-container .search-submit,
#ybd-sb-theme-header .header-panel .header-panel-container a.more-link,
#ybd-sb-theme-header .header-panel .header-panel-container div.gmw-form-wrapper .gmw-submit,
#ybd-sb-theme-header .header-panel .header-panel-container div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit,
#ybd-sb-theme-header div.gmw-form-wrapper .header-panel .header-panel-container .gmw-submit,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .header-panel .header-panel-container .gmw-submit {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-left: 5px;
}

#ybd-sb-theme-header div.gmw-form-wrapper .gmw-submit,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit {
    margin-left: 0!important;
    text-transform: uppercase;
    font-family: FontAwesome ,'Lato', sans-serif!important;
}

#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .gform_wrapper .gform_footer input.step-button,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .gform_wrapper .gform_page_footer input.step-button,
#ybd-sb-theme-header .gform_wrapper .gform_footer .app_donation.app_id_9 .donation-form-container.responsive input.step-button,
#ybd-sb-theme-header .gform_wrapper .gform_footer div.gmw-form-wrapper input.gmw-submit,
#ybd-sb-theme-header .gform_wrapper .gform_footer div.gmw-pt-horizontal-gray-form-wrapper input.gmw-submit,
#ybd-sb-theme-header .gform_wrapper .gform_footer input.button,
#ybd-sb-theme-header .gform_wrapper .gform_footer input.search-submit,
#ybd-sb-theme-header .gform_wrapper .gform_footer input[type=submit],
#ybd-sb-theme-header .gform_wrapper .gform_page_footer .app_donation.app_id_9 .donation-form-container.responsive input.step-button,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer div.gmw-form-wrapper input.gmw-submit,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer div.gmw-pt-horizontal-gray-form-wrapper input.gmw-submit,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer input.button,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer input.search-submit,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer input[type=submit],
#ybd-sb-theme-header .search-submit,
#ybd-sb-theme-header div.gmw-form-wrapper .gform_wrapper .gform_footer input.gmw-submit,
#ybd-sb-theme-header div.gmw-form-wrapper .gform_wrapper .gform_page_footer input.gmw-submit,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-submit,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gform_wrapper .gform_footer input.gmw-submit,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gform_wrapper .gform_page_footer input.gmw-submit,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive a.step-button,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive button.step-button,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive input.step-button,
#ybd-sb-theme-header .button,
#ybd-sb-theme-header .gform_wrapper .gform_footer input.button,
#ybd-sb-theme-header .gform_wrapper .gform_footer input[type=submit],
#ybd-sb-theme-header .gform_wrapper .gform_page_footer input.button,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer input[type=submit],
#ybd-sb-theme-header .search-submit,
#ybd-sb-theme-header a.more-link,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-submit,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .gform_wrapper .gform_footer input.step-button,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .gform_wrapper .gform_page_footer input.step-button,
#ybd-sb-theme-header .btn-primary,
#ybd-sb-theme-header .gform_wrapper .gform_footer .app_donation.app_id_9 .donation-form-container.responsive input.step-button,
#ybd-sb-theme-header .gform_wrapper .gform_footer div.gmw-form-wrapper input.gmw-submit,
#ybd-sb-theme-header .gform_wrapper .gform_footer div.gmw-pt-horizontal-gray-form-wrapper input.gmw-submit,
#ybd-sb-theme-header .gform_wrapper .gform_footer input.button,
#ybd-sb-theme-header .gform_wrapper .gform_footer input.search-submit,
#ybd-sb-theme-header .gform_wrapper .gform_footer input[type=submit],
#ybd-sb-theme-header .gform_wrapper .gform_page_footer .app_donation.app_id_9 .donation-form-container.responsive input.step-button,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer div.gmw-form-wrapper input.gmw-submit,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer div.gmw-pt-horizontal-gray-form-wrapper input.gmw-submit,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer input.button,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer input.search-submit,
#ybd-sb-theme-header .gform_wrapper .gform_page_footer input[type=submit],
#ybd-sb-theme-header .search-submit,
#ybd-sb-theme-header div.gmw-form-wrapper .gform_wrapper .gform_footer input.gmw-submit,
#ybd-sb-theme-header div.gmw-form-wrapper .gform_wrapper .gform_page_footer input.gmw-submit,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-submit,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gform_wrapper .gform_footer input.gmw-submit,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gform_wrapper .gform_page_footer input.gmw-submit,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit {
    color: #fff;
    background-color: #00337f;
}

#ybd-sb-theme-header p {
    margin: 0 0 12.5px;
}

#ybd-sb-theme-header a {
    font-family: Archivo Narrow,sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: #00337f;
}

#ybd-sb-theme-header .site-search-container .header-form-title i {
    width: 25%;
}

#ybd-sb-theme-header .header-panel .form-group {
    padding: 5px 0;
}

#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive a.step-button,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive button.step-button,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive input.step-button,
#ybd-sb-theme-header .btn-block {
    display: block;
    width: 100%;
}

#ybd-sb-theme-header .nav-pills>li {
    float: left;
}

#ybd-sb-theme-header .nav-number {
    padding-right: 20px;
}

#ybd-sb-theme-header .header-nav-container h4 {
    font-size: 18px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    color: #00337f;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    line-height: 1.1;
}

#ybd-sb-theme-header .header-nav-container h4 span {
    color: #00337f;
}

#ybd-sb-theme-header .header-nav-container .btn-green.collapsed,
#ybd-sb-theme-header .header-nav-container .btn-green.collapsed:active,
#ybd-sb-theme-header .header-nav-container .btn-green.collapsed:focus,
#ybd-sb-theme-header .header-nav-container a.collapsed.more-link,
#ybd-sb-theme-header .header-nav-container a.collapsed.more-link:active,
#ybd-sb-theme-header .header-nav-container a.collapsed.more-link:focus {
    background-color: #7ea83f!important;
}

#ybd-sb-theme-header .header-nav-container.nav-pills>li>a {
    font-size: 18px;
    font-family: Lato,sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    line-height: 22px;
}

#ybd-sb-theme-header .header-nav-container .btn,
#ybd-sb-theme-header .header-nav-container .button {
    text-transform: uppercase!important;
}

#ybd-sb-theme-header .header-nav-container .btn-green,
#ybd-sb-theme-header .header-nav-container a.more-link {
    background-color: #d28e00;
}

#ybd-sb-theme-header .header img {
    padding-top: 10px;
}

#ybd-sb-theme-header .img-responsive,
#ybd-sb-theme-header .post-thumbnail img {
    display: block;
    max-width: 191px;
    height: auto;
}

#ybd-sb-theme-header h2,
#ybd-sb-theme-header h2 a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #222;
    font-size: 24px;
    line-height: 1.1;
}

#ybd-sb-theme-header .h1,
#ybd-sb-theme-header .h2,
#ybd-sb-theme-header .h3,
#ybd-sb-theme-header .interior-page .donate-bcspca-container h2,
#ybd-sb-theme-header .interior-page .sidebar-adoption-stories-container h3,
#ybd-sb-theme-header .interior-page h2,
#ybd-sb-theme-header .upcoming-events-container .related-articles-container h2,
#ybd-sb-theme-header h1,
#ybd-sb-theme-header h2,
#ybd-sb-theme-header h3 {
    margin-top: 25px;
    margin-bottom: 12.5px;
}

#ybd-sb-theme-header h3,
#ybd-sb-theme-header h3 a {
    font-family: Lato,sans-serif;
    font-size: 24px;
    color: #00337f;
    font-weight: 700;
}

#ybd-sb-theme-header input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#ybd-sb-theme-header .gmw-locator-btn-wrapper {
    display: none;
}

#ybd-sb-theme-header .address-locator-wrapper,
#ybd-sb-theme-header .gmw-submit-wrapper {
    display: inline-block;
}

#ybd-sb-theme-header .navbar-inverse {
    background-color: #00337f;
    border-color: #00337f;
}

#ybd-sb-theme-header nav {
    width: 100%;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(210,221,233,1);
    text-align: center;
    min-height: 46px;
    height: auto;
    z-index: 100;
}

#ybd-sb-theme-header #navbar .container {
    float: none;
}

#ybd-sb-theme-header ul.navbar-nav {
    display: block;
}

#ybd-sb-theme-header .navbar-nav {
    margin: 6.25px -15px;
}

#ybd-sb-theme-header .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

#ybd-sb-theme-header .primary-nav .nav>li>a {
    padding: 10px 24px !important;
    text-transform: uppercase!important;
    -webkit-font-smoothing: auto;
}

#ybd-sb-theme-header .navbar-inverse .navbar-nav>li>a,
#ybd-sb-theme-header .navbar-inverse .navbar-text {
    color: #fff;
}

#ybd-sb-theme-header .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

#ybd-sb-theme-header .primary-nav a {
    text-decoration: none;
    font-weight: 400;
    font-family: Lato,sans-serif;
    font-size: 16px;
    color: #fff;
}

#ybd-sb-theme-header .primary-nav a span.caret {
    display: none;
}

#ybd-sb-theme-header .primary-nav .dropdown-menu {
    background-color: #98caec;
    border: none;
    padding: 0;
}

#ybd-sb-theme-header .primary-nav .dropdown-menu>li>a {
    padding: 10px 20px;
}

#ybd-sb-theme-header .primary-nav .dropdown-menu a {
    color: #fff;
    font-family: 'Archivo Narrow', sans-serif;
}

#ybd-sb-theme-header .nav>li>a {
    padding: 10px 15px;
}

#ybd-sb-theme-header .navbar-inverse .navbar-nav>.active>a,
#ybd-sb-theme-header .navbar-inverse .navbar-nav>.active>a:focus,
#ybd-sb-theme-header .navbar-inverse .navbar-nav>.active>a:hover,
#ybd-sb-theme-header .navbar-inverse .navbar-nav>li>a:focus,
#ybd-sb-theme-header .navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #98caec;
    text-decoration: none;
}

#ybd-sb-theme-header .menu-item:hover>ul {
    display: block;
}

#ybd-sb-theme-header .primary-nav .dropdown-menu>li>a:focus,
#ybd-sb-theme-header .primary-nav .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #00337f;
    border-radius: 0;
    text-decoration: none;
}

#ybd-sb-theme-header .header-nav-container .btn-green.collapsed:hover,
#ybd-sb-theme-header .header-nav-container .btn-green:hover,
#ybd-sb-theme-header .header-nav-container a.collapsed.more-link:hover,
#ybd-sb-theme-header .header-nav-container a.more-link:hover {
    background-color: #d28e00!important;
}

#ybd-sb-theme-header .btn-red.active,
#ybd-sb-theme-header .btn-red.active.focus,
#ybd-sb-theme-header .btn-red.active:focus,
#ybd-sb-theme-header .btn-red.active:hover,
#ybd-sb-theme-header .btn-red.focus,
#ybd-sb-theme-header .btn-red:active,
#ybd-sb-theme-header .btn-red:active.focus,
#ybd-sb-theme-header .btn-red:active:focus,
#ybd-sb-theme-header .btn-red:active:hover,
#ybd-sb-theme-header .btn-red:focus,
#ybd-sb-theme-header .btn-red:hover,
#ybd-sb-theme-header .open>.btn-red.dropdown-toggle,
#ybd-sb-theme-header .open>.btn-red.dropdown-toggle.focus,
#ybd-sb-theme-header .open>.btn-red.dropdown-toggle:focus,
#ybd-sb-theme-header .open>.btn-red.dropdown-toggle:hover {
    color: #fff;
    background-color: #98caec!important;
}

#ybd-sb-theme-header input#header_search_desktop {
    font-family: 'Archivo Narrow', sans-serif;
}

#ybd-sb-theme-header .btn-blue:hover,
#ybd-sb-theme-header .btn-blue:focus,
#ybd-sb-theme-header .btn-blue:active,
#ybd-sb-theme-header .btn-blue.active,
#ybd-sb-theme-header .open .dropdown-toggle.btn-blue {
    color: #ffffff;
    background-color: #DB9514;
    border-color: #003E85;
}

#ybd-sb-theme-header .btn-blue.active,
#ybd-sb-theme-header .btn-blue.active.focus,
#ybd-sb-theme-header .btn-blue.active:focus,
#ybd-sb-theme-header .btn-blue.active:hover,
#ybd-sb-theme-header .btn-blue.focus,
#ybd-sb-theme-header .btn-blue:active,
#ybd-sb-theme-header .btn-blue:active.focus,
#ybd-sb-theme-header .btn-blue:active:focus,
#ybd-sb-theme-header .btn-blue:active:hover,
#ybd-sb-theme-header .btn-blue:focus,
#ybd-sb-theme-header .btn-blue:hover,
#ybd-sb-theme-header .open>.btn-blue.dropdown-toggle,
#ybd-sb-theme-header .open>.btn-blue.dropdown-toggle.focus,
#ybd-sb-theme-header .open>.btn-blue.dropdown-toggle:focus,
#ybd-sb-theme-header .open>.btn-blue.dropdown-toggle:hover {
    color: #fff;
    background-color: #98caec!important;
}

#ybd-sb-theme-header a:focus,
#ybd-sb-theme-header a:hover {
    color: #d28e00;
    text-decoration: underline;
}

#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.form-row div.form-content>select:focus,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive input[type=number]:focus,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive input[type=password]:focus,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive input[type=text]:focus,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive select:focus,
#ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive textarea:focus,
#ybd-sb-theme-header .form-control:focus,
#ybd-sb-theme-header .gform_wrapper input:focus:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
#ybd-sb-theme-header .gform_wrapper select:focus,
#ybd-sb-theme-header .gform_wrapper textarea:focus,
#ybd-sb-theme-header .search-field:focus,
#ybd-sb-theme-header .ufaq-text-input:focus,
#ybd-sb-theme-header div.gmw-form-wrapper .gmw-distance-select:focus,
#ybd-sb-theme-header div.gmw-form-wrapper input[type=text]:focus,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-distance-select:focus,
#ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper input[type=text]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

#ybd-sb-theme-header .btn-green:hover,
#ybd-sb-theme-header .btn-green:focus,
#ybd-sb-theme-header .btn-green:active,
#ybd-sb-theme-header .btn-green.active,
#ybd-sb-theme-header .open .dropdown-toggle.btn-green {
    color: #ffffff;
    background-color: #DB9514;
    border-color: #FFFFFF;
}

#ybd-sb-theme-header ol,
#ybd-sb-theme-header ul,
#ybd-sb-theme-footer ol,
#ybd-sb-theme-footer ul {
    margin-top: 0;
    margin-bottom: 12.5px;
}














#ybd-sb-theme-footer footer {
    background-color: #00337f;
    padding-top: 40px;
    padding-bottom: 30px;
}

#ybd-sb-theme-footer footer .nav-footer {
    list-style: none;
}

#ybd-sb-theme-footer .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

#ybd-sb-theme-footer footer .nav-footer>li {
    float: left;
}

#ybd-sb-theme-footer footer .nav-footer>li>a {
    color: #fff;
    text-decoration: underline;
    padding-top: 0;
    padding-bottom: 5px;
    line-height: 20px;
    -webkit-font-smoothing: auto;
}

#ybd-sb-theme-footer footer .nav-footer>li>a:hover {
    background: transparent;
}

#ybd-sb-theme-footer .nav>li>a:focus,
#ybd-sb-theme-footer .nav>li>a:hover {
    text-decoration: none;
}

#ybd-sb-theme-footer footer .nav-social {
    list-style: none;
}

#ybd-sb-theme-footer .nav-social>li {
    float: left;
}

#ybd-sb-theme-footer footer .nav-social>li>a {
    color: #fff;
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    line-height: 20px;
}

#ybd-sb-theme-footer footer .footer-subscribe-form p {
    margin-bottom: 0;
}

#ybd-sb-theme-footer footer .footer-subscribe-form p {
    font-family: 'Lato', sans-serif;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    -webkit-font-smoothing: auto;
}

#ybd-sb-theme-footer footer a,
#ybd-sb-theme-footer footer i,
#ybd-sb-theme-footer footer label,
#ybd-sb-theme-footer footer p {
    color: #fff;
}

#ybd-sb-theme-footer p {
    margin: 0 0 12.5px;
}

#ybd-sb-theme-footer footer .footer-subscribe-form i {
    margin-right: 10px;
}

#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive div.form-row div.form-content>select,
#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive input[type=number],
#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive input[type=password],
#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive input[type=text],
#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive select,
#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive textarea,
#ybd-sb-theme-footer .form-control,
#ybd-sb-theme-footer .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
#ybd-sb-theme-footer .gform_wrapper select,
#ybd-sb-theme-footer .gform_wrapper textarea,
#ybd-sb-theme-footer .gform_wrapper textarea.medium,
#ybd-sb-theme-footer .search-field,
#ybd-sb-theme-footer .ufaq-text-input,
#ybd-sb-theme-footer div.gmw-form-wrapper .gmw-distance-select,
#ybd-sb-theme-footer div.gmw-form-wrapper input[type=text],
#ybd-sb-theme-footer div.gmw-pt-horizontal-gray-form-wrapper .gmw-distance-select,
#ybd-sb-theme-footer div.gmw-pt-horizontal-gray-form-wrapper input[type=text] {
    display: block;
    width: 100%;
    height: 39px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

#ybd-sb-theme-footer footer .legal-container img {
    margin-bottom: 20px;
}

#ybd-sb-theme-footer footer .legal-container p {
    font-size: 14px;
    -webkit-font-smoothing: auto;
}

#ybd-sb-theme-footer footer .legal-container .accredited-seal {
    margin-top: 50px;
    display: block;
}

#ybd-sb-theme-footer a {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    text-decoration: underline;
}

#ybd-sb-theme-footer .btn-green {
    color: #ffffff;
    background-color: #72AD00;
    border-color: #FFFFFF;
}

#ybd-sb-theme-footer .btn-green:hover,
#ybd-sb-theme-footer .btn-green:focus,
#ybd-sb-theme-footer .btn-green:active,
#ybd-sb-theme-footer .btn-green.active,
#ybd-sb-theme-footer .open .dropdown-toggle.btn-green {
    color: #ffffff;
    background-color: #DB9514;
    /* border-color: #FFFFFF; */
}

#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive footer .footer-subscribe-form a.step-button,
#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive footer .footer-subscribe-form button.step-button,
#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive footer .footer-subscribe-form input.step-button,
#ybd-sb-theme-footer .gform_wrapper .gform_footer footer .footer-subscribe-form input.button,
#ybd-sb-theme-footer .gform_wrapper .gform_footer footer .footer-subscribe-form input[type=submit],
#ybd-sb-theme-footer .gform_wrapper .gform_page_footer footer .footer-subscribe-form input.button,
#ybd-sb-theme-footer .gform_wrapper .gform_page_footer footer .footer-subscribe-form input[type=submit],
#ybd-sb-theme-footer div.gmw-form-wrapper footer .footer-subscribe-form .gmw-submit,
#ybd-sb-theme-footer div.gmw-pt-horizontal-gray-form-wrapper footer .footer-subscribe-form .gmw-submit,
#ybd-sb-theme-footer footer .footer-subscribe-form .app_donation.app_id_9 .donation-form-container.responsive a.step-button,
#ybd-sb-theme-footer footer .footer-subscribe-form .app_donation.app_id_9 .donation-form-container.responsive button.step-button,
#ybd-sb-theme-footer footer .footer-subscribe-form .app_donation.app_id_9 .donation-form-container.responsive input.step-button,
#ybd-sb-theme-footer footer .footer-subscribe-form .button,
#ybd-sb-theme-footer footer .footer-subscribe-form .gform_wrapper .gform_footer input.button,
#ybd-sb-theme-footer footer .footer-subscribe-form .gform_wrapper .gform_footer input[type=submit],
#ybd-sb-theme-footer footer .footer-subscribe-form .gform_wrapper .gform_page_footer input.button,
#ybd-sb-theme-footer footer .footer-subscribe-form .gform_wrapper .gform_page_footer input[type=submit],
#ybd-sb-theme-footer footer .footer-subscribe-form .search-submit,
#ybd-sb-theme-footer footer .footer-subscribe-form a.more-link,
#ybd-sb-theme-footer footer .footer-subscribe-form div.gmw-form-wrapper .gmw-submit,
#ybd-sb-theme-footer footer .footer-subscribe-form div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive a.step-button,
#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive button.step-button,
#ybd-sb-theme-footer .app_donation.app_id_9 .donation-form-container.responsive input.step-button,
#ybd-sb-theme-footer .button,
#ybd-sb-theme-footer .gform_wrapper .gform_footer input.button,
#ybd-sb-theme-footer .gform_wrapper .gform_footer input[type=submit],
#ybd-sb-theme-footer .gform_wrapper .gform_page_footer input.button,
#ybd-sb-theme-footer .gform_wrapper .gform_page_footer input[type=submit],
#ybd-sb-theme-footer .search-submit,
#ybd-sb-theme-footer a.more-link,
#ybd-sb-theme-footer div.gmw-form-wrapper .gmw-submit,
#ybd-sb-theme-footer div.gmw-pt-horizontal-gray-form-wrapper .gmw-submit {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* #ybd-sb-theme-footer button[name="ACTION_SUBMIT_SURVEY_RESPONSE"] {
    border: 1px solid #fff;
} */

#ybd-sb-theme-footer .nav-social>li>a i:hover {
    color: #d28e00;
}

#ybd-sb-theme-footer footer .nav-social>li>a:hover {
    background: transparent;
}






@media (max-width: 767px) {
    #ybd-sb-theme-footer .legal-container {
        margin-top: 32px;
    }
}

@media screen and (max-width: 768px) {
    #ybd-sb-theme-header .header img.img-responsive {
        max-width: 138px;
    }
    #ybd-sb-theme-header .navbar-collapse.navbar-inverse .navbar-nav>li.mobile-bottom-link>a {
        border: none;
    }

    #ybd-sb-theme-header .mobile-header-nav-container .navbar-toggle {
        margin: 0;
        padding-top: 30px;
    }
    #ybd-sb-theme-header .mobile-header-nav-container.nav-pills>li>a {
        font-size: 16px;
        font-family: Lato,sans-serif;
        font-weight: 100;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 0;
        border: none;
        padding-top: 30px;
        height: 84px;
    }
    
    #ybd-sb-theme-header .primary-nav .primary-links>li a {
        font-family: 'Archivo Narrow', sans-serif;
    }

    #ybd-sb-theme-header .navbar-collapse.navbar-inverse {
        background-color: #efefef;
        border: none;
    }

    #ybd-sb-theme-header .navbar-collapse.navbar-inverse .navbar-nav>li>a {
        color: #00337f;
        border-bottom: 1px solid #00337f;
    }

    #ybd-sb-theme-header .primary-nav .primary-links>li a::after {
        font-family: 'FontAwesome';
        content: "\f054";
        position: absolute;
        right: 15px;
        top: 10px;
        color: #00337f;
    }

    #ybd-sb-theme-header .mobile-header-nav-container .navbar-toggle.collapsed .mobile-menu-opened,
    #ybd-sb-theme-header .mobile-header-nav-container .navbar-toggle .mobile-menu-closed {
        display: none;
    }

    #ybd-sb-theme-header .mobile-header-nav-container .navbar-toggle.collapsed .mobile-menu-closed {
        display: block;
    }

    #ybd-sb-theme-header .mobile-header-nav-container.nav-pills>li>a:active,
    #ybd-sb-theme-header .mobile-header-nav-container.nav-pills>li>a:hover {
        color: #00337f;
    }

    #ybd-sb-theme-footer .footer-links-container {
        font-size: 22px;
    }

    #ybd-sb-theme-footer footer .nav-footer>li {
        float: none;
        margin-bottom: 30px;
    }

    #ybd-sb-theme-footer .nav>li>a,
    #ybd-sb-theme-header .nav>li>a {
        padding: 10px;
    }

    #ybd-sb-theme-footer .nav-social {
        margin: 30px 0;
    }

    #ybd-sb-theme-header .mobile-header-donate {
        border-radius: 0;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 15px;
    }

    #ybd-sb-theme-header header.header {
        margin-bottom: 15px;
    }

    #ybd-sb-theme-header a.button.btn-red.btn-block.visible-xs.mobile-header-donate {
        text-decoration: none;
        border-radius: 0;
    }

    #ybd-sb-theme-header nav {
        text-align: left;
    }
}


@media screen and (min-width: 769px) {
    #ybd-sb-theme-header .navbar-nav {
        float: left;
        margin: 0;
    }

    #ybd-sb-theme-header .container {
        max-width: 1375px;
    }

    #ybd-sb-theme-header button.close {
        text-shadow: none;
        opacity: 1;
        -webkit-filter: none;
        filter: none;
        color: #222;
    }

    #ybd-sb-theme-header button.close .close-text {
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }

    #ybd-sb-theme-header #ufaq-ajax-form .app_donation.app_id_9 .donation-form-container.responsive input[type=number],
    #ybd-sb-theme-header #ufaq-ajax-form .app_donation.app_id_9 .donation-form-container.responsive input[type=password],
    #ybd-sb-theme-header #ufaq-ajax-form .app_donation.app_id_9 .donation-form-container.responsive input[type=text],
    #ybd-sb-theme-header #ufaq-ajax-form .app_donation.app_id_9 .donation-form-container.responsive select,
    #ybd-sb-theme-header #ufaq-ajax-form .app_donation.app_id_9 .donation-form-container.responsive textarea,
    #ybd-sb-theme-header #ufaq-ajax-form .form-control,
    #ybd-sb-theme-header #ufaq-ajax-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    #ybd-sb-theme-header #ufaq-ajax-form .gform_wrapper select,
    #ybd-sb-theme-header #ufaq-ajax-form .gform_wrapper textarea,
    #ybd-sb-theme-header #ufaq-ajax-form .search-field,
    #ybd-sb-theme-header #ufaq-ajax-form .ufaq-text-input,
    #ybd-sb-theme-header #ufaq-ajax-form div.gmw-form-wrapper .gmw-distance-select,
    #ybd-sb-theme-header #ufaq-ajax-form div.gmw-form-wrapper input[type=text],
    #ybd-sb-theme-header #ufaq-ajax-form div.gmw-pt-horizontal-gray-form-wrapper .gmw-distance-select,
    #ybd-sb-theme-header #ufaq-ajax-form div.gmw-pt-horizontal-gray-form-wrapper input[type=text],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive #ufaq-ajax-form input[type=number],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive #ufaq-ajax-form input[type=password],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive #ufaq-ajax-form input[type=text],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive #ufaq-ajax-form select,
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive #ufaq-ajax-form textarea,
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .form-inline input[type=number],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .form-inline input[type=password],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .form-inline input[type=text],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .form-inline select,
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive .form-inline textarea,
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.form-row .form-inline div.form-content>select,
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.form-row div.gmw-form-wrapper .gmw-form div.form-content>select,
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.form-row div.gmw-pt-horizontal-gray-form-wrapper .gmw-form div.form-content>select,
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.gmw-form-wrapper .gmw-form input[type=number],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.gmw-form-wrapper .gmw-form input[type=password],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.gmw-form-wrapper .gmw-form input[type=text],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.gmw-form-wrapper .gmw-form select,
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.gmw-form-wrapper .gmw-form textarea,
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.gmw-pt-horizontal-gray-form-wrapper .gmw-form input[type=number],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.gmw-pt-horizontal-gray-form-wrapper .gmw-form input[type=password],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.gmw-pt-horizontal-gray-form-wrapper .gmw-form input[type=text],
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.gmw-pt-horizontal-gray-form-wrapper .gmw-form select,
    #ybd-sb-theme-header .app_donation.app_id_9 .donation-form-container.responsive div.gmw-pt-horizontal-gray-form-wrapper .gmw-form textarea,
    #ybd-sb-theme-header .form-inline .app_donation.app_id_9 .donation-form-container.responsive div.form-row div.form-content>select,
    #ybd-sb-theme-header .form-inline .app_donation.app_id_9 .donation-form-container.responsive input[type=number],
    #ybd-sb-theme-header .form-inline .app_donation.app_id_9 .donation-form-container.responsive input[type=password],
    #ybd-sb-theme-header .form-inline .app_donation.app_id_9 .donation-form-container.responsive input[type=text],
    #ybd-sb-theme-header .form-inline .app_donation.app_id_9 .donation-form-container.responsive select,
    #ybd-sb-theme-header .form-inline .app_donation.app_id_9 .donation-form-container.responsive textarea,
    #ybd-sb-theme-header .form-inline .form-control,
    #ybd-sb-theme-header .form-inline .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    #ybd-sb-theme-header .form-inline .gform_wrapper select,
    #ybd-sb-theme-header .form-inline .gform_wrapper textarea,
    #ybd-sb-theme-header .form-inline .search-field,
    #ybd-sb-theme-header .form-inline .ufaq-text-input,
    #ybd-sb-theme-header .form-inline div.gmw-form-wrapper .gmw-distance-select,
    #ybd-sb-theme-header .form-inline div.gmw-form-wrapper input[type=text],
    #ybd-sb-theme-header .form-inline div.gmw-pt-horizontal-gray-form-wrapper .gmw-distance-select,
    #ybd-sb-theme-header .form-inline div.gmw-pt-horizontal-gray-form-wrapper input[type=text],
    #ybd-sb-theme-header .gform_wrapper #ufaq-ajax-form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    #ybd-sb-theme-header .gform_wrapper #ufaq-ajax-form select,
    #ybd-sb-theme-header .gform_wrapper #ufaq-ajax-form textarea,
    #ybd-sb-theme-header .gform_wrapper .form-inline input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    #ybd-sb-theme-header .gform_wrapper .form-inline select,
    #ybd-sb-theme-header .gform_wrapper .form-inline textarea,
    #ybd-sb-theme-header .gform_wrapper div.gmw-form-wrapper .gmw-form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    #ybd-sb-theme-header .gform_wrapper div.gmw-form-wrapper .gmw-form select,
    #ybd-sb-theme-header .gform_wrapper div.gmw-form-wrapper .gmw-form textarea,
    #ybd-sb-theme-header .gform_wrapper div.gmw-pt-horizontal-gray-form-wrapper .gmw-form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    #ybd-sb-theme-header .gform_wrapper div.gmw-pt-horizontal-gray-form-wrapper .gmw-form select,
    #ybd-sb-theme-header .gform_wrapper div.gmw-pt-horizontal-gray-form-wrapper .gmw-form textarea,
    #ybd-sb-theme-header div.gmw-form-wrapper #ufaq-ajax-form .gmw-distance-select,
    #ybd-sb-theme-header div.gmw-form-wrapper #ufaq-ajax-form input[type=text],
    #ybd-sb-theme-header div.gmw-form-wrapper .form-inline .gmw-distance-select,
    #ybd-sb-theme-header div.gmw-form-wrapper .form-inline input[type=text],
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive div.form-row div.form-content>select,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive input[type=number],
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive input[type=password],
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive input[type=text],
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive select,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive textarea,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .form-control,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .gform_wrapper select,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .gform_wrapper textarea,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .gmw-distance-select,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .search-field,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .ufaq-text-input,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form input[type=text],
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper #ufaq-ajax-form .gmw-distance-select,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper #ufaq-ajax-form input[type=text],
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .form-inline .gmw-distance-select,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .form-inline input[type=text],
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive div.form-row div.form-content>select,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive input[type=number],
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive input[type=password],
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive input[type=text],
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive select,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .app_donation.app_id_9 .donation-form-container.responsive textarea,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .form-control,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .gform_wrapper select, 
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .gform_wrapper textarea,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .gmw-distance-select,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .search-field,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .ufaq-text-input,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form input[type=text] {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    #ybd-sb-theme-header #ufaq-ajax-form .form-group,
    #ybd-sb-theme-header .form-inline .form-group,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .form-group,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    #ybd-sb-theme-header #ufaq-ajax-form .control-label,
    #ybd-sb-theme-header .form-inline .control-label,
    #ybd-sb-theme-header div.gmw-form-wrapper .gmw-form .control-label,
    #ybd-sb-theme-header div.gmw-pt-horizontal-gray-form-wrapper .gmw-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    #ybd-sb-theme-footer .footer,
    #ybd-sb-theme-header .header {
        padding-left: 0;
        padding-right: 0;
    }

    #ybd-sb-theme-header .header {
        height: 105px;
    }

    #ybd-sb-theme-header .arrow-up.yellow {
        border-bottom: 25px solid #d28e00;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        margin: -35px auto 10px;
        width: 0;
        height: 0;
        background-color: transparent;
    }

    #ybd-sb-theme-header .collapsed .arrow-up {
        display: none;
    }

    #ybd-sb-theme-header .navbar-nav>li {
        float: left;
    }

    #ybd-sb-theme-header .navbar-nav>li>a {
        padding-top: 12.5px;
        padding-bottom: 12.5px;
    }
}