/* @override 
	https://local.adoptdev.com/wp-content/themes/adopt-theme/style.css?*
*/

Theme Name:  BCSPCA Adopt App  (DEPRECIATED IN FAVOUR OF BCSPCA_ADOPT_2020 REPO)
Theme URI:  https://spca.bc.ca
Description:  A custom application for syncing adoption status of pets for display
Author: YeeBoo Digital
Author URI:  https://yeeboodigital.com
Version:  1.3.3
 */

@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Lato:400,700|Open+Sans:400,700&display=swap');

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: scale(.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* @group Global */

#primary.content-area {
	margin: 50px 0;
}

.ybd-sb-h2 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 42px;
	color: #00337F;
	margin: 0 0 30px 0;
}

.ybd-sb-h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 34px;
	font-weight: bold;
	color: #000;
	margin: 0 0 30px 0;
}

.ybd-sb-content, .ybd-sb-content > p {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 18px;
}

#query-pets {
	/*min-height: 200px;*/
}

.mobile-hide {
	display: inline-block;
}

.desktop .max-width-80, .tablet .max-width-80 {
	max-width: 80%;
}

/* @end */

/* @group 404 */

.error404 #primary i {
	font-size: 150px;
	display: block;
}

.error404 #primary .row div:nth-child(1) {
	color: #00337F;
	animation-name: pulse-a;
	animation-duration: 10s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}

.error404 #primary .row div:nth-child(2) {
	animation-name: pulse-b;
	animation-duration: 10s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
	color: #72AD00;
}

.error404 #primary .row div:nth-child(3) {
	animation-name: pulse-c;
	animation-duration: 10s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
	color: #D28E01;
}

@keyframes pulse-a {
0% {
	color: #00337F;
}

100% {
	color: #D28E01;
}
}

@keyframes pulse-b {
0% {
	color: #72AD00;
}

100% {
	color: #00337F;
}
}

@keyframes pulse-c {
0% {
	color: #D28E01;
}

100% {
	color: #72AD00;
}
}

/* @end */

/* @group CSS Spinners */

.lds-roller {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: 0 auto;
}

.lds-roller div {
	animation: lds-roller 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #72AD00;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
	opacity: .1;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
	opacity: .3;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
	opacity: .5;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
	opacity: .7;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
	opacity: .9;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
0% {
	transform: rotate(0deg);
}

100% {
	transform: rotate(360deg);
}
}

/* @end */

/* @group Search Alerts */

.action-buttons button.search-alert-button {
	background: #C23B13 !important;
	border: 1px solid #C23B13 !important;
	padding-right: 10px !important;
	padding-left: 10px !important;
	height: 41px;
}

.action-buttons button.search-alert-button span {
	display: inline-block;
	background: url(img/alarm.png) center center no-repeat;
	background-size: 22px !important;
	animation: swing ease-in-out 1.7s alternate;
	transform-origin: top center;
	width: 22px;
	height: 22px;
	position: relative;
	bottom: -1px;
}

@keyframes swing {
0% {
	transform: rotate(-27deg);
}

15% {
	transform: rotate(22deg);
}

30% {
	transform: rotate(-18deg);
}

45% {
	transform: rotate(16deg);
}

60% {
	transform: rotate(-13deg);
}

75% {
	transform: rotate(10deg);
}

90% {
	transform: rotate(-5deg);
}

100% {
	transform: rotate(0deg);
}
}

/* @end */

/* @group Buttons */

#content .ybd-sb-btn-green {
	outline: none;
	background-color: #72AD00;
	color: #fff;
	padding: 15px 30px;
	text-transform: uppercase;
	font-size: 18px;
}

#content .btn-default {
	outline: none;
	text-transform: uppercase;
}

#content .btn-primary {
	outline: none;
	background-color: #72AD00;
	border-color: #72AD00;
	color: #fff;
	text-transform: uppercase;
}

#content .btn-primary:hover {
	background-color: #D28E01;
	border-color: #D28E01;
	color: #fff;
}

#content .btn-blue {
	outline: none;
	padding: 6px 15px !important;
	background-color: #00337F;
	border-color: #00337F;
	color: #fff;
	text-transform: uppercase;
	vertical-align: bottom;
}

#content .btn-blue:hover {
	color: #fff;
}

#content .btn-red {
	outline: none;
	padding: 6px 15px !important;
	background-color: #ba3314;
	border-color: #ba3314;
	color: #fff;
	text-transform: uppercase;
	vertical-align: bottom;
}

#content .btn-red:hover {
	color: #fff;
}


.ybd-sb-btn-green:hover {
	background-color: #D28E01 !important;
	color: #fff !important;
}

.btn-green {
	outline: none;
	color: #fff;
	background-color: #7ea83f;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	border-radius: 8px;
	text-transform: uppercase;
	padding: 15px 30px;
	line-height: 22px;
	border-color: transparent;
}

.btn-green:hover {
	color: #fff;
	background-color: #d28e00!important;
	border-color: transparent;
}

/* @end */

/* @group Sharing */

.addthis_inline_share_toolbox {
	vertical-align: top;
}

.ybd-sb-pet-share {
	padding: 0;
}

.ybd-sb-pet-share h3 {
	margin: 0 15px 0 0;
	font-size: 30px;
}

/* @end */

/* @group Lightbox */

.desktop .mfp-arrow-left {
	margin-left: 50%;
	left: -470px;
}

.desktop .mfp-arrow-right {
	margin-right: 50%;
	right: -470px;
}

/* @end */

/* @group Modal Global Styling */

.modal-header {
	border-bottom: none;
}

.modal-header button.close {
	font-size: 28px;
	background-color: #00337F;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	opacity: 1;
	text-shadow: none;
	color: #fff;
	line-height: 1.25em;
}

.modal-header button.close span {
	position: relative;
	display: block;
	top: -4px;
}

.modal-header .modal-title {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: #00337F;
	text-align: center;
}

.modal-body img {
	max-width: 100%;
	margin: 0 auto;
}

.modal-footer {
	text-align: center;
	margin: 0 auto;
}

/* @end */

/* @group Account Required Modal */

#account-required-modal i {
	font-size: 120px;
	color: #ba3314;
}

#account-required-modal p {
	max-width: 300px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* @end */

/* @group Login Register Modal */

#login-register-modal * {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#login-register-modal input {
	max-width: 300px;
	display: block;
}

#login-register-modal input.lwa-rememberme {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	top: -1px;
	margin-right: 3px;
}

#login-register-modal ul.nav-tabs li {
	width: 50%;
}

#login-register-modal ul.nav-tabs li.active {
	font-weight: bold;
}

/* @end */

/* @group Map Edit Modal */

#map-edit-modal .modal-body, #map-edit-modal .modal-body * {
	padding: 0;
}

#map-edit-modal .postal-input {
	background-color: #00337F;
	padding-top: 5px;
	padding-bottom: 1px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#map-edit-modal .postal-input input {
	margin: 10px auto 0 !important;
	max-width: 50%;
	padding: 5px;
	font-size: 100%;
	display: inline-block;
}

#map-edit-modal .btn-green {
	padding: 5px 12px !important;
	vertical-align: bottom;
}


/* @end */

/* @group What’s Next Modal */

/* Make sure the modal is on the tippety top */

#whatsNext {
	z-index: 9999999;
}

#whatsNextLabel {
	font-size: 150%;
	line-height: 100%;
}

#whatsNext .google-map-container {
	clear: both;
}

#whatsNext .modal-contact-container a {
	width: 50%;
	display: inline-block;
	float: left;
	text-align: center;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 15px 0;
	text-decoration: u;
}

#whatsNext .modal-contact-container a:nth-child(1) {
	background-color: #00337F;
}

#whatsNext .modal-contact-container a:nth-child(2) {
	background-color: #72AD00;
}

#whatsNext .modal-disclaimer {
	padding-top: 15px;
	clear: both;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 80%;
	font-weight: normal;
}

#whatsNext .row.location-hours div {
	font-weight: normal;
	min-height: 150px !important;
}

/* @end */


/* @group Login / Register */

.ybd-login-wrap {
	max-width: 400px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 300px;
	padding-left: 15px;
	padding-right: 15px;
}

.ybd-login-wrap h3 {
	margin-bottom: 30px;
}

.ybd-login-wrap label {
	margin-left: 2px;
}

.ybd-login-wrap .lwa-submit-links label {
	margin-bottom: 20px;
}

.ybd-login-wrap input[type="checkbox"] {
	position: relative;
	top: -1px;
}

/* @end */

/* @group Filter Forms */

.more-filters {
	display: none;
}

a.small {
	display: inline-block;
	margin-top: 10px;
}

#filter-form .action-buttons .btn {
	background-color: #72AD00;
	border: 1px solid #72AD00;
	color: #fff;
	padding: 7px 40px;
	margin-top: px;
	font-size: 100%;
}

#filter-form label, #modal-filter-form label {
	display: block;
	font-weight: normal;
	font-size: .9em;
	text-align: center;
	margin-top: 5px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.profile-filter-form > div {
	margin-bottom: 15px;
}

#filter-form .multiselect label:focus, #modal-filter-form .multiselect *:focus {
	outline: 0 !important;	
}

#filter-form .multiselect, #modal-filter-form .multiselect {
	background: #ddd;
	box-shadow: none;
	border: none;
	text-align: left;
}

#filter-form .open .multiselect, #modal-filter-form .open .multiselect {
	background: #ddd !important;
	color: inherit ;
}

#filter-form .multiselect .caret, #modal-filter-form .multiselect .caret {
	float: right;
	position: absolute;
	top: 15px;
	right: 8px;
}

#filter-form ul.multiselect-container, #modal-filter-form ul.multiselect-container {
	min-width: 100%;
	max-width: 100%;
}

#filter-form ul.multiselect-container li a, #modal-filter-form ul.multiselect-container li a {
	margin: 0;
	padding: 0;
}

#filter-form ul.multiselect-container a label, #modal-filter-form ul.multiselect-container a label {
	outline: 0 !important;
	text-align: left;
	margin-top: 0;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 25px;
}

#filter-form ul.multiselect-container .active a, #modal-filter-form ul.multiselect-container .active a {
	background-color: #999;
}

#filter-form ul.multiselect-container a:active, #modal-filter-form ul.multiselect-container a:active, #filter-form ul.multiselect-container a:focus, #modal-filter-form ul.multiselect-container a:focus {
	outline: none !important;
}

#filter-form ul.multiselect-container label input, #modal-filter-form ul.multiselect-container label input {
	outline: 0 !important;
	vertical-align: bottom;
	margin-top: 3px;
}

#filter-form ul.multiselect-container .active label.radio, #modal-filter-form ul.multiselect-container .active label.radio {
background: url(img/checkmark-icon.png) 5px center no-repeat;
background-size: 12px;	
}

#filter-form ul.multiselect-container label.radio input, #modal-filter-form ul.multiselect-container label.radio input {
	visibility: hidden;
}

.popover {
	z-index: 1 !important;
}

.popover h3.popover-title {	
	text-align: center;
}

.popover h3.popover-title i {
	float: right;
	cursor: pointer;
}

/* @end */

/* @group Favourites Bar */

.ybd-sb-loc-fav-bar {
	height: 55px;
	background-color: #98CAEC;
	font-family: 'Archivo Narrow', sans-serif;
	color: #00337F;
	z-index: 100;
}

.ybd-sb-loc-fav-bar * {
	font-size: 15px;
}

.ybd-sb-loc-fav-bar .row {
	margin: 0;
}

.ybd-sb-loc-fav-bar .row > div {
	padding: 15px 0px 0px 0px;
}

.ybd-sb-loc-fav-bar .col-sm-1:first-of-type {
	width: auto;
}

.ybd-sb-loc-fav-bar.sticky {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.ybd-sb-loc-fav-bar.sticky + #content {
	margin-top: 55px !important;
}

.ybd-sb-loc-fav-bar a {
	color: #00337F;
}

.ybd-sb-loc-fav-bar .dropdown-toggle {
	margin-top: -4px;
	padding: 0 10px 0 0;
	border: none;
	color: '#00337F';
	text-decoration: underline;
}

.ybd-sb-loc-fav-bar .dropdown {
	display: inline;
}

.ybd-sb-loc-fav-bar a, .ybd-sb-loc-fav-bar a span {
	text-decoration: underline;
}

.ybd-sb-loc-fav-bar .inline {
	display: inline-block;
	margin-top: 3px;
}

.ybd-sb-loc-fav-bar .dropdown-toggle, .ybd-sb-loc-fav-bar .dropdown-toggle:active, .open>.dropdown-toggle.btn-default {
	color: #00337F;
	background: transparent !important;
	box-shadow: none;
}

.ybd-sb-loc-fav-bar .sort-toggle .dropdown-menu {
	left: -120px;
}

.ybd-sb-loc-fav-bar .fav-list .fas.fa-heart {
	color: red;
	font-size: 90%;
	margin-right: 2px;
}

.ybd-sb-loc-fav-bar .chip {
	border: 1px solid rgba(255,255,255,.55);
	border-radius: 12px;
	background-color: rgba(255,255,255,.5);
	padding: 2px 10px;
	display: inline-block;
}

.ybd-sb-loc-fav-bar .chip i {
	cursor: pointer;
	padding-left: 10px;
	font-size: 75%;
}

.ybd-sb-loc-fav-bar .sort-toggle li.selected a {
	display: inline-block;
	padding-left: 20px;
	background: url(img/checkmark-icon.png) 5px center no-repeat;
	background-size: 14px;
}

/* @end */

/* @group HomePage */

.ybd-sb-banner-wrapper {
	height: 400px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.ybd-sb-banner-cta-wrapper {
	position: absolute;
	left: 40%;
	top: 15%;
	background-color: rgba(0,0,0,0.2);
	padding: 20px 50px;
	border-radius: 15px;
	text-align: center;
	color: #fff;
}

.ybd-sb-banner-cta-wrapper h1 {
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	margin: 0;
}

.smartphone .ybd-sb-banner-cta-wrapper h1 {
	font-size: 34px;
	font-weight: bold;
	color: #00337F;
	margin: 0 0 30px 0;
}

.ybd-sb-banner-cta-wrapper p {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 26px;
	margin: 0 0 15px 0;
}

.ybd-sb-banner-cta-wrapper .btn {
	margin-top: 15px;
}

.ybd-sb-find-pet-button {
	background-color: #00337F;
	text-align: center;
	display: block;
	color: #fff;
	padding: 10px 0;
	font-size: 26px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.ybd-sb-find-pet-button:hover, .ybd-sb-find-pet-button:focus {
	color: #fff;
	text-decoration: none;
	background-color: #98caec;
}

.ybd-sb-find-pet-button:visited {
	color: #fff;
	text-decoration: none;
}

.ybd-sb-find-pet-button i {
	font-size: 70%;
}

.ybd-sb-find-container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.home .ybd-sb-pet-card-container, .home .ybd-sb-news-container, .home .ybd-sb-promo-container, .home .ybd-sb-faq-container {
	animation: slide-up 0.4s ease;
}

#ybd-find-pet-col-left {
	padding-right: 0;
	border-right: 1px solid #fff;
	padding-left: 0;
}

#ybd-find-pet-col-middle {
	padding-left: 0;
	border-left: 1px solid #fff;
	padding-right: 0;
	border-right: 1px solid #fff;
}

#ybd-find-pet-col-right {
	padding-left: 0;
	border-left: 1px solid #fff;
	padding-right: 0;
}

#ybd-find-pet-col-right ul.dropdown-menu {
	width: 100%;
	background-color: #00337F;
	margin: 0;
	border-radius: 0;
	top: calc(100% - 1px);
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	padding: 0;
}

#ybd-find-pet-col-right ul.dropdown-menu>li>a, #ybd-find-pet-col-right ul.dropdown-menu>li>a:visited {
	color: #fff;
	padding: 10px 20px;
	font-size: 18px;
	text-decoration: none;
}

#ybd-find-pet-col-right ul.dropdown-menu>li>a:hover, #ybd-find-pet-col-right ul.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #98caec;
}

.ajax-load-more-button, .ajax-load-more-query-button {
	margin: 0 auto;
	display: block;
}

/* @end */

/* @group Favourites */

.ybd-favourite {
	cursor: pointer;
}

.ybd-sb-pet-details-container .ybd-favourite {
	position: absolute;
	top: 4px;
	left: -10px;
}

.ybd-sb-pet-details-container .ybd-favourite .heart {
	font-size: 22px;
	line-height: 1.1em;
	padding: 12px;
}

.ybd-favourite .heart {
	color: #999;
	position: relative;
	top: 1px;
}

.ybd-favourite .heart.fas {
	color: red;
}

/* @end */

/* @group Pet Cards: Main, Promo, News, Medical Emergency */

/* @group Shared */

.ybd-sb-promo-container, .ybd-sb-news-container, .ybd-sb-medical-emergency-container, .ybd-sb-pet-card-container, .ybd-sb-faq-container {
	position: relative;
	height: 390px;
	max-height: 390px;
	width: 254px;
	overflow: hidden;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
}

.promo-colour-red, .news-colour-red {
	background-color: #ba3314;
}

.promo-colour-green, .news-colour-green {
	background-color: #72ae00;
}

.promo-colour-blue, .news-colour-blue {
	background-color: #00337f;
}

.promo-colour-yellow, .news-colour-yellow {
	background-color: #cc8304;
}

/* @end */

/* @group Pet Cards */

.ybd-sb-pet-card-container {
	background-color: #ECECEC;
}

.ybd-sb-pet-image-container {
	min-width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -15px;
}

/* Foster banner etc. */

.ybd-sb-pet-image-container img {
	position: absolute;
	top: 0;
	right: 15px;
	width: 60px !important;
}

.ybd-sb-pet-details-container {
	padding: 15px 0 0;
	color: #000;
	position: relative;
}

.ybd-sb-pet-details-container h3, .ybd-sb-pet-details-container p {
	text-align: center;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.ybd-sb-pet-details-container h3 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #000;
	font-size: 21px;
	margin: 0 auto 15px auto;
	width: 73%;
}

.ybd-sb-pet-details-container p, .ybd-sb-pet-details-container .row {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	font-size: 15px;
	color: #000;
	margin: 0 0 15px 0;
}

.ybd-sb-pet-details-container .row div {
	padding: 10px 0 0;
}

/* @end */

/* @group Promos */

.ybd-sb-promo-container h3 {
	text-align: center;
	color: white;
	font-size: 18px;
	padding: 0 0 15px;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ybd-sb-promo-image-container {
	height: 158px;
	background-position: center center;
	background-size: cover;
	margin-right: -15px;
	margin-left: -15px;
}

.ybd-sb-promo-container p {
	color: #fff;
	margin: 15px 0;
	height: 80px;
	line-clamp: 3;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.ybd-sb-card-btn {
	text-align: center;
	display: block;
	border: 1px solid #fff;
	background: none;
	color: #fff;
	border-radius: 8px;
	padding: 12px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 0;
}

.ybd-sb-card-btn:hover {
	background-color: #fff;
}

.promo-colour-red .ybd-sb-card-btn:hover {
	color: #ba3314;
}

.promo-colour-green .ybd-sb-card-btn:hover {
	color: #72ae00;
}

.promo-colour-blue .ybd-sb-card-btn:hover {
	color: #00337f;
}

.promo-colour-yellow .ybd-sb-card-btn:hover {
	color: #cc8304;
}

/* @end */

/* @group Medical Emergency Cards */

.ybd-sb-medical-emergency-container {
	background-color: #ECECEC;
}

.ybd-sb-medical-emergency-banner {
	font-weight: bold;
	background-color: #C23B13;
	color: #FFF;
	text-align: center;
	padding: 8px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	margin-right: -15px;
	margin-left: -15px;
	margin-top: -15px;
}

.ybd-sb-medical-emergency-banner img {
	display: inline-block;
	position: relative;
	top: -1px;
}

.ybd-sb-medical-emergency-image-container {
	height: 130px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	margin-right: -15px;
	margin-left: -15px;
}

.ybd-sb-medical-emergency-details h3 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #000;
	font-size: 22px;
	margin: 15px 0 10px 0;
	text-align: center;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ybd-sb-medical-emergency-donate {
	position: absolute;
	bottom: 0;
	text-align: center;
	padding: 12px 0;
	background-color: #C23B13;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	left: 0;
	right: 0;
}

.ybd-sb-medical-emergency-donate:hover, .ybd-sb-medical-emergency-donate:focus, .ybd-sb-medical-emergency-donate:visited {
	color: #FFF !important;
}

.ybd-sb-medical-emergency-details p {
	font-size: 15px;
	min-height: 45px;
	max-height: 45px;
}

.ybd-sb-medical-emergency-amts p {
	font-size: 16px;
}

.ybd-sb-medical-emergency-details .therm-outer {
	height: 18px;
	width: 100%;
	background-color: #00337F;
	margin-bottom: 5px;
	border-radius: 3px;
	overflow: hidden;
}

.ybd-sb-medical-emergency-details .therm-inner {
	height: 18px;
	background-color: #D28E00;
}

/* @end */

/* @group News */

.ybd-sb-news-container a {
	text-align: left;
	color: #fff;
}

.ybd-sb-news-container a:hover, .ybd-sb-news-container a:focus {
	text-decoration: underline;
}

.ybd-sb-news-image-container {
	height: 225px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: -15px;
	margin-left: -15px;
	margin-top: -15px;
}

.ybd-sb-news-inner h3 {
	font-size: 20px;
}

.ybd-sb-news-inner p {
	position: absolute;
	bottom: 15px;
	left: 15px;
	margin: 15px 0 0 0;
}

/* @end */

/* @group FAQS */

.ybd-sb-faq-container h3 {
	font-size: 150%;
	color: white;
	padding-bottom: 20px;
}

.ybd-sb-faq-container p {
	font-size: 100%;
	color: white;
	padding-top: 0px;
}

.ybd-sb-faq-container .ybd-sb-card-btn {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: calc(100% - 20px);
}

/* @end */

/* @end */

/* @group Helpers */

.inline-block {
	display: inline-block;
}

.bold {
	font-weight: bold;
}

.ybd-sb-margin-top-30 {
	margin-top: 30px;
}

.ybd-sb-margin-bottom-30 {
	margin-bottom: 30px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

/* @end */

/* @group Owl Carousel */

.owl-carousel .owl-item img {
	height: auto;
	width: 100%;
	display: block;
}
 /*owl custom controls*/

.owl-theme .owl-controls .owl-buttons div {
	padding: 0;
}

.owl-theme .owl-buttons i {
	margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div {
	margin: 0;
	padding: 0;
	font-size: 20px;
	border-radius: 0;
	background: transparent;
	filter: Alpha(Opacity=50);
	color: #000000;
	opacity: 0.5;
}

.owl-theme .owl-controls .owl-buttons div:hover {
	filter: Alpha(Opacity=80);
	opacity: 0.8;
}
 /*To move navigation buttons outside use these settings:*/

.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
	left: 20px;
	top: 45%;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
	right: 20px;
	top: 45%;
}
 /* crop and center img */

.owl-dot span, .owl-theme.dale-carousel .owl-dots .owl-dot span {
	margin: 4px;
	display: block;
}

.owl-dot.active span, .owl-theme.dale-carousel .owl-dots .owl-dot.active span {
	background: #00337f;
}

/* @end */

/* @group Single Pets */

.single-pets .atss-left {
	display: none;
}

/* @group Shopify Products */

.shopify-donate-block-container {
	background-color: #ECECEC;
	border-radius: 8px;
}

.shopify-buy-frame {
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* @end */

/* @group Single Pet Carousel */

.container-fluid.pet-profile {
	max-width: 1150px;
	margin: 0 auto;
}

.ybd-sb-pet-carousel * {
	outline: none;
}

.ybd-sb-pet-carousel .slick-track {
	margin: 0;
}

.ybd-sb-pet-carousel .item {
	cursor: pointer;
	width: 400px;
}

.ybd-sb-pet-carousel iframe {
	width: 100%;
	height: 100%;
}

.ybd-sb-pet-carousel.img-count-low ul.slick-dots {
	display: none;
}

.ybd-sb-pet-carousel ul.slick-dots {
	max-width: 200px;
	display: inline-block;
	margin-bottom: -10px;
	margin-left: -100px;
	left: 50%;
	z-index: 1;
}

.ybd-sb-pet-carousel ul.slick-dots li {
	width: 7px;
}

.ybd-sb-pet-carousel ul.slick-dots li button:before {
	font-size: 11px;
}

.ybd-sb-pet-carousel ul.slick-dots li.slick-active button:before {
	color: #00337F;
}

.ybd-sb-pet-carousel i.fa-chevron-left {
	font-size: 40px;
	position: absolute;
	left: -40px;
	top: 45%;
}

.ybd-sb-pet-carousel i.fa-chevron-right {
	position: absolute;
	right: -40px;
	top: 45%;
	font-size: 40px;
}

.ybd-sb-pet-carousel .slick-slide {
	padding: 10px;
	transition-duration: .2s;
	/*transform: scale(.9);*/
}

.ybd-sb-pet-carousel .slick-slide.slick-center {
	/*transform: scale(1.1);*/
}

.ybd-sb-pet-carousel .ybd-item-container {
	position: relative;
	height: 380px;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.ybd-item-container .infoster {
	visibility: hidden;
}

.ybd-sb-pet-carousel .slick-slide.slick-center .infoster {
	visibility: visible;
	position: absolute !important;
	top: 0;
	left: calc(100% - 80px) !important;
	margin: 0 !important;
	right: auto !important;
	width: 70px;
}

.ybd-sb-pet-carousel .slick-slide.slick-center a.expand-icon, .ybd-sb-pet-carousel.img-count-low a.expand-icon {
	background: url(img/white-enlarge-icon@2x.png) 0 0 no-repeat;
	background-size: 30px;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.slick-arrow {
	cursor: pointer;
	color: #B8C3D0;
}


.slick-arrow:hover {
	color: #D28E01;
}

.smartphone .ybd-sb-pet-carousel .slick-arrow {
	display: none !important;
}

.tablet .ybd-sb-pet-carousel .slick-arrow {
	display: none !important;
}


/* @end */

.ybd-sb-back-search, .ybd-sb-previous-pet, .ybd-sb-next-pet {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 16px;
	text-decoration: underline;
}

.ybd-sb-pet-details-block {
	background-color: #ECECEC;
	border-radius: 8px;
	padding: 30px;
	min-height: 460px;
}

.ybd-sb-pet-details-block ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ybd-sb-pet-details-block ul li {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 18px;
}

.ybd-sb-pet-nav {
	position: relative;
	margin-bottom: 0;
	border-bottom: 1px solid #eee;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 50px;
	top: -35px;
}

.ybd-sb-pet-nav span {
	text-decoration: none;
}

.ybd-sb-pet-nav a, .ybd-sb-pet-nav span {
	text-decoration: underline;
}

.sb-yb-petdetail-margin {
	margin: 30px 0 60px 15px;
}

.ybd-sb-compatibility-title {
	font-weight: bold;
}

.single-pets .ybd-sb-pet-profile-favourite .ybd-favourite {
	margin-top: 18px;
	text-align: right;
}

.single-pets .ybd-favourite .glyphicon {
	display: inline-block;
	margin-right: 5px;
	top: 4px;
	font-size: 18px;
}

.ybd-sb-header-banner-wrapper {
	position: relative;
}

.ybd-sb-pet-share .ybd-sb-h3 {
	margin-top: 5px;
	font-family: 'Lato', sans-serif;
}

.ybd-sb-pet-details-block.ybd-sb-pet-compatibility ul li {
	margin: 10px 0;
}

.ybd-sb-compatibility-icon img {
	width: 34px;
}

.ybd-sb-compatibility-icon {
	margin-right: 30px;
}

/* @end */

/* @group Profile Page */

.page-profile #content .btn-green {
	min-width: 250px;
}

#ybd_user_meta_form input.form-control, #ybd_user_meta_form a.edit-location {
	text-align: left;
	border-radius: 8px !important;
	background-color: #E2E1E2;
	border: 1px solid #E2E1E2;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 18px;
	padding: 10px;
	display: block;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #000;
	height: auto;
	margin: 5px 0;
	min-width: 100%;
	min-height: 46px;
}

.ybd-closest-location p {
	margin: 0;
}

.ybd-profile-container {
	position: relative;
}

.ybd-speech-bubble {
	position: relative;
	background: #d7d7d7;
	border-radius: .4em;
	padding: 30px;
	margin-bottom: 50px;
}

.ybd-speech-bubble h2 {
	margin-bottom: 0;
}

.ybd-speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 12%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #d7d7d7;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}

.ybd-no-animals h5 {
	font-size: 110%;
}

.ybd-saved-searches .list-group-item {
	overflow: hidden;
}
#ybd-saved-searches {
	margin: 10px;
}

.ybd-saved-searches h4 a {
	font-weight: bold;
}

.ybd-saved-searches h4 span {
	margin-top: 5px;
	display: block;
	color: #666;
	font-size: 85%;
	max-width: 90%;

}

.ybd-delete-search {
	position: absolute;
	transition-duration: .3s;
	margin-bottom: 0;
	margin-left: 0;
	color: #ba3314;
	width: 20px;
	overflow: hidden;
	white-space: nowrap;
	height: 100%;
	right: 10px;
	top: 0;
	line-height: 0;
	padding-top: 20px;
}

.ybd-delete-search span {
	display: inline-block;
	top: 2px;
}

.ybd-delete-search:hover {
	text-decoration: none;
	color: #fff;
	background: #ba3314;
	width: 100px;
	text-align: center;
	margin-right: -15px;
}

a.delete-account {
	color: #666;
	font-size: 85%;
}


/* @end */

/* @group Dale's CSS */

.favbar-toggle button {
	font-size: 100%;
}

.dale-carousel .owl-item > div {
	width: 100%;
}

.dale-carousel .owl-nav {
	position: absolute;
	bottom: 45%;
	z-index: -1;
	left: 0;
	right: 0;
	font-size: 60px;
	color: #999;
}

.dale-carousel .owl-nav .owl-prev, .dale-carousel .owl-nav .owl-prev:hover {
	color: #D28E01;
	background-color: white;
	float: left;
	margin-left: -40px;
}

.dale-carousel .owl-nav .owl-next, .dale-carousel .owl-nav .owl-next:hover {
	color: #D28E01;
	background-color: white;
	float: right;
	margin-right: -40px;
}

#content .dale-carousel .owl-nav > div:active:not(.disabled) {
	-webkit-box-shadow: inset 0px 0px 12px rgba(0,0,0,.25);
	box-shadow: inset 0px 0px 12px rgba(0,0,0,.25);
}

#content .dale-carousel .owl-nav .disabled {
	background-color: rgba(255,255,255, 0.50);
}

.no-pets {
	line-height: 1.3em;
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}

/* @end */

/* Mobile and Tablet */

@media screen and (max-width: 991px) {
	
	.container-fluid.pet-profile {
		padding: 0;
	}
	
	.container-fluid.pet-profile .row, .container-fluid.pet-profile .row > div {
		margin: 0;
		padding: 0;
	}
	
	.container-fluid.pet-profile .slick-slide, .container-fluid.pet-profile .slick-list {
		margin: 0 !important;
		padding: 0 !important;
	}
	
	.ybd-profile-container {
		text-align: center;
	}
	
	.ybd-profile-container .pull-right {
		float: none;
		padding-bottom: 50px;
	}
	
	.ybd-closest-location .map {
		margin-top: 30px;
	}
	
	.single-pets .ybd-sb-pet-profile-favourite .ybd-favourite {
		margin-top: 10px;
	}
	
	.sb-yb-petdetail-margin {
		margin: 60px 0;
	}

	.mobile-hide {
		display: none;
	}
}

/* Mobile */

@media screen and (max-width: 767px) {

.edit-location {
	display: inline-block;
	max-width: 80px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.favbar-toggle span.text {
	text-align: left;
	display: inline-block;
	max-width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;		
}

	.error404 #primary i {
		font-size: 50px;
		display: block;
	}
	
	#query-pets {
		/*min-height: 100px;*/
	}
	
	.ybd-sb-pet-details-block {
		min-height: auto;
	}
	
	.mobile-hide {
		display: none;
	}
	
	.search-alert {
		top: 250px;
	}
	
	.ybd-sb-h2 {
		font-size: 36px;
	}
	
	.ybd-sb-pet-nav .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-left {
		text-align: right;
	}
	
	.row.ybd-sb-margin-top-30.ybd-sb-margin-bottom-30 .ybd-sb-h3 {
		font-size: 24px;
		line-height: 1.3em;
	}
	
	.ybd-sb-pet-details-block .ybd-sb-h2 {
		text-align: center;
	}
	
	.ybd-sb-pet-share .ybd-sb-h3 {
		display: block;
		margin: 15px 0;
		font-size: 25px;
	}
	
	.ybd-sb-pet-share {
		text-align: center;
	}
	
	#primary {
		margin: 50px 25px !important;
	}
	
	.ybd-sb-banner-wrapper {
		height: 250px;
		background-position: left center;
	}
	
	.ybd-sb-banner-cta-wrapper {
		background-color: #fff;
		position: static;
		border-radius: 0;
	}
	
	.ybd-sb-banner-cta-wrapper p {
		font-size: 18px;
		color: #000;
	}
	
	.ybd-sb-pet-compatibility {
		margin-top: 30px;
	}
	
	#product-component-eebdbc9f023 {
		margin: 30px auto 0;
	}
	
	.ybd-sb-pet-profile-favourite {
		cursor: pointer;
	}
	
	.ybd-sb-pet-profile-favourite .ybd-favourite>span:first-child {
		display: none;
	}
	
	.ybd-sb-find-container {
		margin: 0;
	}
	
	#ybd-find-pet-col-left {
		padding: 0;
		border-right: none;
		border-bottom: 2px solid #fff;
	}
	
	#ybd-find-pet-col-middle {
		border-right: none;
		border-left: none;
		border-bottom: 2px solid #fff;
	}
	
	#ybd-find-pet-col-right {
		padding: 0;
		border: none;
	}
	
	#ybd-find-pet-col-right ul.dropdown-menu {
		width: 100%;
	}
	
	#primary {
		margin: 30px 0 !important;
	}
	
	.dale-carousel .owl-nav {
		display: none;
	}
	
	.account-req-button {
		font-size: 80%;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#whatsNext .container-fluid.metadata div {
		padding-left: 2px;
		padding-right: 2px;
	}
	
	#whatsNext .container-fluid .text-right {
		text-align: left;
		margin-bottom: 5px;
	}

}

/* Tablet and Desktop */

@media only screen and (min-width: 768px) {
	.ybd-gallery .modal-content {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	.ybd-gallery .modal-dialog {
		width: 96%;
		margin: 40px auto 0;
	}
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 991px) {
	.tablet-hide {
		display: none;
	}
	
	.single-pets .container {
		padding-right: 50px;
		padding-left: 50px;
	}
	
	.row.ybd-sb-margin-top-30.ybd-sb-margin-bottom-30 .ybd-sb-h3 {
		font-size: 24px;
	}
	
	.ybd-sb-pet-share .ybd-sb-h3 {
		font-size: 25px;
	}
	
	.shopify-donate-block-container {
		margin-top: 30px;
	}
	
	.ybd-sb-pet-details-block .ybd-sb-h2 {
		text-align: center;
	}
	
	.ybd-sb-pet-compatibility {
		margin-top: 30px;
	}
	
	.ybd-sb-pet-share {
		text-align: center;
	}
	
	.ybd-sb-pet-nav .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-left, .ybd-sb-pet-nav .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-right {
		padding: 0;
	}
	
	.ybd-sb-find-container {
		margin: 0;
		width: 100%;
	}
	
	#ybd-find-pet-col-left {
		padding-left: 0;
	}
	
	#ybd-find-pet-col-middle {
		border-right: none;
	}
	
	#ybd-find-pet-col-right {
		padding-right: 0;
		border-top: 2px solid #fff;
		border-left: none;
	}
	
	.ybd-sb-banner-wrapper {
		background-position: left center;
	}
	
	.ybd-sb-banner-cta-wrapper {
		left: 12%;
		right: 12%;
		width: 76%;
	}
}

/* Desktop */

@media screen and (min-width: 992px) {
	.ybd-sb-pet-details-block {
		margin-right: 15px;
	}
	
	.ybd-sb-pet-details-block.ybd-sb-pet-compatibility {
		margin-left: 15px;
		margin-right: 0px;
	}
	
	/* Helper CSS for vertically aligned modals */
	
	.modal.modal-centered {
		text-align: center;
		padding: 0!important;
	}
	
	.modal.modal-centered:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}
	
	.modal-centered .modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}
}