/* @override 
	https://local.adoptdev.com/wp-content/themes/adopt-theme/plugins/login-with-ajax/widget.css?* */

@charset "utf-8";
.lwa {
	margin-bottom: 10px;
}

form.lwa-form, form.lwa-remember, div.lwa-register form {
	position: relative;
}

.lwa table {
	width: 100% !important;
	margin: 0px !important;
	border: none !important;
	border-spacing: 0;
	border-collapse: collapse;
}

.lwa td, .lwa th {
	padding: 0;
	border-spacing: 0;
	border: none !important;
}

.lwa td {
	padding-top: 7px;
	vertical-align: top;
	background-color: none;
}

/*Logged out CSS*/

.lwa .lwa-username-label, .lwa .lwa-password-label {
	padding-right: 10px;
	vertical-align: middle;
}

.lwa-password input, .lwa-username input, .lwa-email input, .lwa-remember-email input {
	margin: 0px;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}

.lwa-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFFFFF url(loading.gif) 50% 50% no-repeat;
	left: 0px;
	top: 0px;
	opacity: 0.8;
	filter: alpha(opacity=80)
}

.lwa-status {
	margin: 0px 0px 5px;
	padding: 10px 10px;
	color: #333;
	border-radius: 3px;
	display: none;
}

.lwa-status-invalid, .lwa-status-confirm {
	display: block !important;
}

.lwa-status-invalid {
	background-color: #FFEBE8;
	border: 1px solid #C00;
}

.lwa-status-confirm {
	background-color: #f1fff0;
	border: 1px solid #a8d144;
}

/*Logged In CSS*/

.lwa-avatar {
	width: 60px;
	padding-right: 10px;
}

.lwa-info {
	text-transform: lowercase;
}

/*Forgotten password*/

.lwa-remember {
	margin-top: 10px;
	display: none;
}

/*Registration*/

.lwa .lwa-register {
	margin-top: 30px;
	display: none;
}

/*OpenID specific*/

.lwa-register hr {
	display: block;
}

.lwa-register #openid_identifier {
	width: auto;
}

/* divs-only */

.lwa-divs-only p {
	margin: 8px 0px 5px !important;
}

.lwa-divs-only input[type="text"] {
	margin: 5px 0px 10px;
}

.lwa-divs-only .lwa-submit-button, .lwa-divs-only .lwa-links {
	margin-top: 5px;
}

.lwa-divs-only .lwa-submit-button input[type="submit"] {
	display: block;
	margin-bottom: 10px;
	background-color: #7EA840;
	text-align: center;
	color: #fff;
	padding: 8px 40px;
	font-size: 90%;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	border: 0;
	border-radius: 3px;
	margin-top: 10px;
}

.lwa-divs-only .lwa-remember, .lwa-divs-only .lwa-register {
	clear: both;
}

.lwa-register h4 {
	font-size: 150%;
}

.lwa-register-form input[type="text"] {
	margin-top: 5px;
	width: 250px;
}

.lwa-submit-links {
	padding-top: 20px !important;
}

.lwa-register input#wp-submit {
	background-color: #7EA840;
	text-align: center;
	display: block;
	color: #fff !important;
	padding: 8px 30px;
	font-size: 90%;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	border-radius: 3px;
	margin-top: 15px;
	margin-bottom: 10px;
	border: 0;
}

.lwa-remember {
	border-top: 1px solid #00337F;
	margin-top: 30px;
	padding-top: 20px;
}

